* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

/* Navigation area */


/* About page */


/* Contact page */

#footer-area {
    background-color: orangered;
    width: 100%;
    height: 150px;
    padding: 50px;
}
/*Footer area */


/* Git is a version control that helps us to manage and control
our project efficiently! */

/* GitHub is a cloud-based hosting web application where we can
push our programming codes, secure them and host them */
